# Groups
dn: cn={{ item.name }},{{ item.group_ou }},dc={{ openldap_server_domain_name.split('.')[0] }},dc={{ openldap_server_domain_name.split('.')[1] }}
#objectClass: posixgroup
objectClass: groupofuniquenames
objectClass: top
cn: {{ item.name }}
#gidNumber: {{ item.gid }}
description: {{ item.name|capitalize }}
uniqueMember: